<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
      <authentication mode="Forms">
        <forms defaultUrl="AcercaDe.aspx" loginUrl="Login.aspx"/>  <!-- TODO aca hay que cambiar la pag principal q puse como Hotel por otra Inicio.aspx-->
      </authentication>

      
      <!-- ? significa anónimo  -->
      <!-- esta forma deniega acceso a todos, en forma general  -->
      
      <authorization>
        <deny users="?"/> <!--puede ser deny o allow-->
      </authorization>
    </system.web>

    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <!--ESTO ES PARA AGREGAR EXCEPCIONES-->
  <!--esta forma permite acceso a determinados usuarios, en forma específica  
    Esta configuracion permite el acceso a esta pagina a los usuarios anonimos (no logueados)-->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--Cuidado! que tambien se autoriza o deniega el acceso a imagenes, scripts, etc. (a todos los archivos y/o carpetas)
    esta configuracion permite acceso anonimo a la carpeta imagenes-->
  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Hotel.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/> <!-- TODO  HAY QUE ESCRIBIR ADMIN O ADMINISTRADORES?-->
      </authorization>
    </system.web>
  </location>

  <location path="AcercaDe.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores,Pasajeros"/>
      </authorization>
    </system.web>
  </location>
  </configuration>
  